.main-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 560px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.main-container, .screen-container{
    border-style: solid;
    border-color: black;
}

.screen-container{
    flex-basis: 90px;
    width: 265px;
    order: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}

.button-container{
    flex-basis: 365px;
    width: 265px;
    order: 2;
    display: flex;
    flex-direction: column;
}